################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Google Forms Backend Server/.vs/Google Forms Backend Server
